copy_command "wl-copy"
copy_on_select true
default_layout "compact"
default_shell "fish"
keybinds {
	unbind "Ctrl g"
}
mouse_mode true
pane_frames true
scroll_buffer_size 10000
scrollback_editor "hx"
session_serialization false
show_startup_tips false
simplified_ui false
theme "catppuccin-mocha"
ui {
	pane_frames {
		rounded_corners true
	}
}
