Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin no
LoginGraceTime 60
MaxAuthTries 3
MaxSessions 5
StrictModes yes

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

HostbasedAuthentication no
IgnoreRhosts yes

PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no

KerberosAuthentication no
GSSAPIAuthentication no

AllowAgentForwarding no
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
PermitTTY yes
PrintMotd no
TCPKeepAlive yes
PermitUserEnvironment no

ClientAliveInterval 60
ClientAliveCountMax 3

MaxStartups 10:30:60

Subsystem sftp /usr/libexec/openssh/sftp-server
